<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="GET" action="../index.php">
        <label>Введите длину A стороны треугольника:
            <input type="number" name="A">
        </label>

        <label><br>Введите длину B стороны треугольника:
            <input type="number" name="B">
        </label>

        <label><br>Введите длину C стороны треугольника:
            <input type="number" name="C">
        </label>

        <br><input type="submit" name="button_id" value="Отправить">

        <br><input type="submit" name="button_id2" value="Сбросить результат" />
    </form>
</body>
</html>
