<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <form action="../index.php" class="contact_form" method="post">
      <ul>
          <li>
              <h2>Площадь треугольника.</h2>
          </li>
          <li>
              <label>Введите число a:</label>
              <input type="number" placeholder=" " name="a" value="a" required>
          </li>
          <li>
              <label>Введите число b:</label>
              <input type="number" placeholder=" " name="b" value="b" required>
          </li>
          <li>
              <label>Введите число c:</label>
              <input type="number" placeholder=" " name="c" value="c" required>
          </li>
          <li>
              <button class="submit" type = "submit" name="button_id">Посчитать площадь</button>
          </li>
      </ul>
  </form>
</body>
</html>